.oneOfAnswers {
    padding: 3px 6px;
    border: 1px solid #4D5B9E;
    border-radius: 8px;
    min-width: 60px;
    text-align: center;
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
    color: #293264;
    cursor: pointer;
}

.selected {
    color: #293264;
    background-color: #D6DBF5;
    border: 1px solid #D6DBF5;
}

.error {
    color: #8F94AF;
    background-color: #F8BCBC;
    border: 1px solid #8F94AF;
}

.right {
    color: #293264;
    background-color: #94D7A2;
    border: 1px solid #94D7A2;
}

.disabled {
    color: #8F94AF;
    border: 1px solid #8F94AF;
}